@import '../../App.scss';

$chess-square-witdh: 30px;
$tab-count: 2;

.forumDashboard {
    background: $main-background-color;

    &--chesBackgrounded {
        background-image:
            linear-gradient(90deg, $dark-chess-square $chess-square-witdh, $brigth-chess-square $chess-square-witdh),
            linear-gradient(90deg, $brigth-chess-square $chess-square-witdh, $dark-chess-square $chess-square-witdh),
            linear-gradient(90deg, $dark-chess-square $chess-square-witdh, $brigth-chess-square $chess-square-witdh);
        background-position: 0 0, 0 $chess-square-witdh, 0 $chess-square-witdh * 2;
        background-repeat: repeat-x;
        background-size: $chess-square-witdh * 2 $chess-square-witdh, $chess-square-witdh * 2 $chess-square-witdh, $chess-square-witdh * 2 $chess-square-witdh;
        height: $chess-square-witdh * 3;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    &__container {
        min-height: 80vh;
        padding: 25px;
        top: $chess-square-witdh;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        background: $secondary-background-color;
        width: 80%;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        min-width: calc($tab-count * 60px);
    }
}