$dark-theme-background: #3d3d3d;
$dark-theme-background-lighter: #555;

$dark-theme-text-main: #f8f8f8;
$dark-theme-text-shadow: #444;

$primary-main: #769656;
$primary-darker: #668646;

$form-border-color: 'hsla(0,0%,100%,.1)';
$form-border-focus: '#81b64c';
$form-text-color: 'hsla(0,0%,100%,.72)';
$form-secondary-text-color: 'hsla(0,0%,100%,.5)';

$color-green-300: '#81b64c';
