/*font-family: 'Oswald', sans-serif;*/

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inner', sans-serif !important;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
