.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  width: 33rem;

  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.72);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.authContainer {
  background-color: #262421;
  border-radius: 1rem;
  padding: 1rem 0 0 0;
  max-width: 100%;
  overflow: hidden;
  min-width: 25rem;

  overflow: hidden;

  @media screen and (max-width: 420px) {
    min-width: 20rem;
  }

  @media screen and (max-width: 320px) {
    min-width: 16rem;
  }
}
