@import '../../../../App.scss';

$tab-count: 2;

$breakpoints: (
    medium: calc($tab-count * 250px),
    small: calc($tab-count * 150px)
);

.forumPreview {
    margin: 20px 0;
    width: 100%;

    animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
    }

    &__haeder {
        background-color: $brigth-chess-square;

        &Theme {
            width: 70%;
        }

        &LastMessage {
            width: 30%;
        }
    }

    &__item {
        border: 1px solid $brigth-chess-square;

        &Division {
            padding: 5px 10px;

            &--link {
                cursor: pointer;
                text-decoration: none;
                color: $main-background-color;

                &:hover,
                &:focus,
                &:active {
                    outline: 0;
                    color: lighten($dark-chess-square, 15%);
                }
            }

            &--description {
                font-style: italic;
            }

            &--info {
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

@media (max-width: map-get($breakpoints, medium)) {
    .forumPreview {
        &__haeder {
            display: flex;
            justify-content: center;
            width: 100%;

            &LastMessage {
                display: none;
            }
        }

        &__controls {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            gap: 10px;
        }

        &__item {
            &Division {
                &--info {
                    display: none;
                }
            }
        }
    }
}