/*font-family: 'Oswald', sans-serif;*/

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inner', sans-serif !important;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

p.success {
  color: green;
}
p.danger {
  color: red;
}
.container {
  font-weight: 400;
  overflow-x: hidden !important;
  position: relative;
  background-color: #3d3d3d !important;
  /*background-color: var(--grey) !important;*/
  color: #f8f8f8 !important;
  /*min-width: 450px;*/
  width: 100vw;
  height: 100vh;
}
