:root {
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
    --index: calc(1vw + 1vh);
}

.layer {
    &__container {
        min-width: 100vw;
        perspective: 1000px;
        min-height: 100vh;
        transform-style: preserve-3d;
        transform: rotateX(var(--move-y)) rotateY(var(--move-x));
        will-change: transform;
        transition: transform var(--transition);
    }

    &__item {
        position: absolute;
        inset: -5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__1 {
        transform: translateZ(-20px) scale(1.1);
        pointer-events: none;
    }

    &__2 {
        transform: translateZ(-60px) scale(.88);
        pointer-events: none;
    }

    &__4 {
        transform: translateZ(90px) scale(.9);
        pointer-events: none;
    }

    &__5 {
        transform: translateZ(100px) scale(.9);
        pointer-events: none;
    }
}