@import '../../../../colors.scss';

$mColor: black;
$eyeColor: black;
$mouthColor: white;
$circle: 40px;

@keyframes shakeL {
    0% {
        border-radius: 0 0 0 1000%;
    }

    25% {
        border-radius: 0 0 50% 1000%;
    }

    50% {
        border-radius: 0 0 100% 1000%;
    }

    100% {
        border-radius: 500% 0 50% 1000%;
    }
}

@keyframes shakeR {
    0% {
        border-radius: 0 0 1000% 0;
    }

    25% {
        border-radius: 0 0 1000% 50%;
    }

    50% {
        border-radius: 0 0 1000% 100%;
    }

    100% {
        border-radius: 0 500% 1000% 50%;
    }
}

.userAvatar {
    position: absolute;
    display: flex;
    flex-direction: column;

    &__picture {
        margin: 10px;
        width: 124px;
        height: 124px;
        border-radius: 50%;
        border: 1px solid $primary-main;
        object-fit: cover;
    }

    &__left,
    &__right {
        content: "";
        position: absolute;
        height: 50px;
        min-width: 150px;
        border-radius: 50%;
        border-bottom: 5px solid #000;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media(max-width: 450px) {
            max-width: 100px;
        }
    }

    &__left {
        top: 80px;
        left: -75px;
        transform: rotate(5deg);
        animation-name: shakeL;
    }

    &__right {
        top: 80px;
        right: -50px;
        transform: rotate(-5deg);
        animation-name: shakeR;
    }

    &__input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    &__inputButton {
        cursor: pointer;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        font: inherit;
        background-color: $primary-main;
        box-shadow: 0 3px $dark-theme-text-shadow;
        color: $dark-theme-text-main;
        text-shadow: 1px 1px $dark-theme-text-shadow;

        &:active {
            background-color: $primary-darker;
        }
    }
}